doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='About.css')
  title #{title}
.Room_container
  #menu
    #image_container
      img#roomimage_toggle.join(src='https://cdn-icons-png.flaticon.com/128/9055/9055030.png' alt='image')
    #close_button
  #Join_Room.room_view
    h1 Join Room
    #input_container
      input#join_room_Room_id.input(type='text' placeholder='Room id')
    #input_container
      input#join_room_input_name.input(type='text' placeholder='name')
    #button_container
      p#errors
      button#join_room_button Join
  #Create_Room.room_hide
    h1 Create Room
    #input_container
      input#time.input(type='text' readonly='')
    #input_container
      input#create_room_input_name.input(type='text' placeholder='name')
    #button_container
      button#create_room_button Create
.home_Page
  nav
    #navigation_container
      h1#navigation_button.menu_icon
    #view.nav
      a(href='#about') About
      a(href='#support') Support
      a(href='#contact') Contact
    .friends
      h1#friends Friends
  section#home
    .contents
      #text
        h1 Challenge your mind, conquer the grid, play Tic-Tac-Toe! 
        p
          | Face off against the computer in a battle of wit and strategy. Can you outsmart the AI and claim victory in Tic-Tac-Toe?
        button#play_with_computer_button Computer Mode
    .logo
      div
        p.X.first
        p.O
      div
        p.O
        p.X
  section#about
    h1.heading_tag About
    .about
      .contents
        #text
          h1
            | Discover the story behind the game, where creativity meets code, on our captivating About page.
          p
            | Embark on a nostalgic journey with our faithful adaptation of Tic-Tac-Toe, embracing its traditional rules while offering the thrill of playing against AI or friends. Elevate your gaming experience further by engaging in lively conversations with companions right from the gameplay interface.
  section#support
    h1 Support
    #text
      h1 Follow &amp; Build Site
      p
        | For assistance, utilize our GitHub support page to access
        | repositories, commit changes, and craft your unique site. Our
        | comprehensive resources and community guidance ensure smooth
        | navigation and seamless development. Join our support network on
        | GitHub today and unleash your creativity in building your own site!
    .support
      a.repository(href='https://github.com/sivaprasath2004/Tic-Tac-Toe')
        img(src='https://cdn-icons-png.flaticon.com/128/6878/6878122.png' alt='github')
        p Repository
      a.github(href='https://github.com/sivaprasath2004')
        img(src='https://cdn-icons-png.flaticon.com/128/2111/2111432.png' alt='github')
        p Github
  section#contact
    h1 Contact
    #text
      h1 Experience &amp; Guidance
      p
        | If you encounter any issues or have questions, please don&apos;t hesitate to reach out to us. Your satisfaction is our priority, and we&apos;rehere to assist you every step of the way. Contact us anytime for prompt and reliable support.Your feedback is invaluable to us, and we&apos;re committed to resolving any concerns you may have promptly.
    .support
      a(href='mailto:prasathsiva2004@gmail.com')
        img(src='https://cdn-icons-png.flaticon.com/128/6244/6244710.png' alt='mail')
        p prasathsiva2004@gmail.com
      a(href='https://in.linkedin.com/in/sivaprasath2004')
        img(src='https://cdn-icons-png.flaticon.com/128/1384/1384014.png' alt='linkedin')
        p linkedin
script(src='/socket.io/socket.io.js')
script(src='js/script.js')
