extends layouts/main.pug
block stylesheets
  link(rel="stylesheet", href="index.css")
block contentes
  div(id="backgroud_color")
  div(class='play_option')
    h1(id="heading_tag") Let's Start
    p(id="heading_changer")
    button(id="play_with_computer_button") start
block scripts
  script(src="/js/script.js")


  
