@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Madimi+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
#container{
    position: relative;
    display: flex;
    width: 100%;
    align-self: center;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}
#box{
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    height: 300px;
    width: 50%;
}
#boxheading,#new_heading
{ height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 750;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;}
#boxheading{
    justify-content: flex-start;
    top: 0%;
    left: 0%;
    clip-path: circle(81% at left 103%);
}
#box{
    width: 40%;
}
#join_room,#create_room{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#joinroom p,#createroom p{
    width: 80%;
    font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}   
#joinroom,#createroom{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    height: 100%;
    gap: 1rem;
    padding-top: 1rem;
    flex-direction: column;
}
#createroom{
    display: none;
}
#joinroom button,#createroom button{
    position: relative;
    top: 0%;
    right: 10%;
    z-index: 2;
}
#joinroom img,#createroom img{
    height: 300px;
    width: 300px;
}
#joinroom button,#create_room_input_button,#join_room_input_button,#createroom button{
    height: 50px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    font-weight: 900;
    box-shadow: 0 2px 12px rgba(0, 0,0, .5);
}
#create_room_input_button,#join_room_input_button{
    box-shadow: 0 4px 20px rgba(0, 0,0, .5);
}

#create_room h1,#join_room h1{
    color: white;
}
#create_room,#join_room{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}
#create_room #name,#join_room #name{
    width: 70%;
    position: relative;
    height: 100%;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 12px rgba(0, 0,0, .5);
    background-color: white;
}
#create_room #name input,#join_room #name input{
    width: 100%;
    background-color: transparent;
    padding-left:10px;
    padding-right: 10px;
    font-size: 1.3rem;
    border: none;
    height: 100%;
}
#create_room #name span,#join_room #name span{
    position: absolute;
    left: 6%;

}
input:focus{
    outline: none;
}
#join_room{
    display: none;
}
#new_box{
    position: relative;
    display: flex;
    width: 100%;
    align-self: center;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}
#new_heading{
    clip-path: circle(81% at right 102%);
}