@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Madimi+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
#container{
    position: relative;
    display: flex;
    width: 100%;
    align-self: center;
    height: 100vh;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
header{
    background-color: transparent;
    position: relative;
    z-index: 2;
}
header .heading a{
    color: black;
}
header .nav a{
border: 2px solid black;
color: black;
}
#box{
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    position: relative;
    height: 300px;
    width: 50%;
}
#boxheading,#new_heading
{ height: 100%;
    position: absolute;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
    background-color: white;}
#boxheading{
    justify-content: flex-start;
    clip-path: circle(82% at 8% 49%);
}
#join_room,#create_room{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#joinroom p,#createroom p{
    width: 80%;
    font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}   
#joinroom,#createroom{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    height: 100%;
    gap: 1rem;
    padding-top: 1rem;
    flex-direction: column;
}
#createroom{
    display: none;
}
#joinroom button,#createroom button{
    position: relative;
    top: 0%;
    right: 10%;
    z-index: 2;
}
#joinroom img,#createroom img{
    height: 300px;
    width: 300px;
}
#joinroom button,#create_room_input_button,#join_room_input_button,#createroom button{
    height: 50px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    font-weight: 900;
    box-shadow: 0 2px 12px rgba(0, 0,0, .5);
}
#create_room_input_button,#join_room_input_button{
    box-shadow: 0 4px 20px rgba(0, 0,0, .5);
}

#create_room h1,#join_room h1{
    color: white;
}
#create_room,#join_room{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}
#create_room #name,#join_room #name{
    width: 70%;
    position: relative;
    height: 100%;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 12px rgba(0, 0,0, .5);
    background-color: white;
}
#create_room #name input,#join_room #name input{
    width: 100%;
    background-color: transparent;
    padding-left:10px;
    padding-right: 10px;
    font-size: 1.3rem;
    border: none;
    height: 100%;
}
#create_room #name span,#join_room #name span{
    position: absolute;
    left: 6%;

}
#errors{
    margin: -20px;
    color: transparent;
    font-size: 1.5rem;
}
input:focus{
    outline: none;
}
#join_room{
    display: none;
}
#new_box{
    position: relative;
    display: flex;
    width: 100%;
    align-self: center;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}
#new_heading{
    justify-content: flex-end;
    align-items: center;
    right: 0%;
    clip-path: circle(84% at 94% 49%);
    padding-left: 20px;
}
@media (max-width:700px) {
    #boxheading,#new_heading{
        width: 52%;
        height: 100%;
    }
    #boxheading{
        clip-path: polygon(0% 0%, 75% 0%, 136% 51%, 75% 100%, 0% 100%);
    }
    #new_heading{
        right: 0%;
        clip-path:polygon(100% -2%, 100% 45%, 100% 100%, 53% 155%, -19% 45%, 16% 0%);
    }
    #container{
        justify-content: flex-end;
        align-items: center;
    }
    #box{
        width: 55%;
    }
}
@media (max-width:550px) {
   #boxheading{
    width: 100%;
        justify-content: center;
    height: 50%;
    clip-path: circle(62% at 50% 7%);
   }
   #new_heading{
    width: 100%;
    height: 50%;
    bottom: 0%;
    clip-path: circle(60% at 50% 92%);
   }
   #joinroom{
    width: 100%;
    justify-content:center;
    align-items: center;
    padding-left: 30px;
}
  #joinroom img,#createroom img{
    display: none;
  }
   #container{
    justify-content: center;
    align-items:flex-end;
}
#new_box{
    margin-top: -20px;
    justify-content: center;
    align-items: flex-start;
}
#createroom{
    align-items: center;
}
#box{
    width: 100%;
    justify-content: center;
}
#create_room,#join_room{
    gap: 1rem;
}
}